
div.col-sm-2(id='notice_type')

  label(for='notice_type') Notice Type:   
  select#notice_Type.select.form-control.input-med(name='notice_type', onchange = 'notice_type_update(this)')
    option(value='WEN') Weekly English
    option(value='WZH') Weekly Chinese
    option(value='HOL') Holiday
  input#current_type(type='hidden', name='current_type', value=current_type)
