extends ../layout.pug

block content
  div.pull_left.col-sm-2
    include ../gutter.pug

  div.container.col-sm-7
    h1
      a(href='/') Messages 
    if msg
      p= msg
    table.table
      each message in messages
        tr
          td
            a(href='#' + user.id) #{message.subject}}
          td
            a(href='#' + user.id) #{message.text}
          td
            a(href='#' + user.id) #{message.date}
          td
            a(href='#' + user.id) Edit
          if isAdmin
            td
              a(href='#' + user.id) Remove

    p
     a.btn.btn-primary(href='#') Add New Message
