extends ../layout.pug

block content
  div.pull_left.col-sm-2
    include ../gutter.pug

  div.container.col-sm-7
    h1
      a(href='/') Notices 
    if message
      p= message
    table.table
      each notice in notices 
        tr
          td
            a(href='/user/profile/' + notice.id) #{notice.effective_date}
          td
            a(href='#' + notice.id) #{notice.teacher_name}
          td
            a(href='#' + notice.id) #{notice.creation_date}
          td
            a(href='#' + notice.id) Edit
          if isAdmin
            td
              a(href='#' + notice.id) Remove

    p
     a.btn.btn-primary(href='/notice/create') Create Notice
